header {
    background-color: black;
    text-align: center;
    color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
}

a {
    color: azure;
}

body{
    background-color: aquamarine;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}
div {
    text-align: center;
    color: azure;
    background-color: cadetblue;
    margin-left: 500px;
    margin-right: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul {
    text-align: left;
}
img {
    width: 825px;
}